-

  var mainMenu = [
    {
      "id": "10",
      "name": "Цифры и факты",
      "url": "index.html#sifry_i_fakty",
    },
    {
      "id": "20",
      "name": "Ви́дение-2035",
      "url": "index.html#videnie",
    },
    {
      "id": "30",
      "name": "Наука и бизнес",
      "url": "index.html#nayka_i_bisness"
    },
    {
      "id": "40",
      "name": "Метавселенная",
      "url": "index.html#metavselennaya",
    },
     {
      "id": "50",
      "name": "Научные партнеры Сбера",
      "url": "index.html#partners",
    },
    {
      "id": "40",
      "name": "Сбер-Космос-Сбер",
      "url": "index.html#sber-kosmos-sber",
    },
    {
      "id": "50",
      "name": "Наука в Сбере",
      "url": "index.html#naychnaya_premiya",
    },
    {
      "id": "60",
      "name": "Квантовая перспектива",
      "url": "index.html#kvant",
    },
    {
      "id": "70",
      "name": "Научная премия",
      "url": "index.html#naychnaya_premiya",
    },
    {
      "id": "80",
      "name": "Победы в конкурсах",
      "url": "index.html#pobedy_v_konkursah",
    },
    {
      "id": "90",
      "name": "Исследовательские центры ИИ",
      "url": "index.html#ii",
    },
    {
      "id": "100",
      "name": "Научные публикации 2021 года",
      "url": "#publications",
      },
    {
      "id": "110",
      "name": "Совместные проекты с вузами и исследовательскими центрами",
      "url": "index.html#sovmestnie_proekty_s_vuzami",
    },
    {
      "id": "120",
      "name": "Работа продолжается",
      "url": "index.html#rabota_prodoljaetsya"
    },
    {
      "id": "130",
      "name": "Взгляд в будущее",
      "url": "index.html#vzglad_v_budushee",
    },
    {
      "id": "140",
      "name": "ДНК Инженера",
      "url": "index.html#dnk",
    },

  ];