// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav {

  $block-name:                &; // #{$block-name}__element

  position: absolute;
  top:0;
  left:0;
  right:0;
  z-index: 10;
  padding-top:24px;


  &__inner {
    @include container();
  }
  & .row {
    align-items: center;
  }
  &__button {
    width:235px;
    max-width:235px;
    display:flex;
    justify-content: space-between;
    margin-left:auto;
    border:1px solid #ffffff;
    border-radius:6px;
    padding:10px 50px;
    color:#ffffff;
  }
  &__wrapper {
    display:flex;
    justify-content: flex-end;
  }
  & .logo {
    max-width:136px;
  }

  // первый уровень
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-end;
    max-width:600px;
    background-color: #ffffff ;
    border-radius:6px;

      .js & {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s;

        &--lvl-2 {
          max-height: none;
        }
      }

      .js #{$block-name}--open & {
        max-height: 1000px;
        transition: max-height 0.6s;

        &--lvl-2 {
          max-height: none;
        }
      }
   


  }

  &__item {
    position: relative;
    width: 50%;

    &--active {

      & > #{$block-name}__link { // stylelint-disable-line  selector-combinator-blacklist
        color: #000;
      }
    }
  }

  &__link {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      text-decoration: none;
    }
}





  // переключатель

  &__toggler {
    display: inline-block;
    border: none;
    padding: 0;
    background: none;
    .no-js & {
      display: none;
    }
  }
}
