-

  var mainMenu = [
    {
      "id": "10",
      "name": "Наука в Сбере",
      "url": "#nayka_v_sber",
     "data-menuanchor": "Наука_в_Сбере"
    },
    {
      "id": "20",
      "name": "Приветственное слово Германа Грефа",
      "url": "#privetstvie_gref",
    },
    {
      "id": "30",
      "name": "Наука и бизнес",
      "url": "#sifry_i_fakty"
    },
    {
      "id": "40",
      "name": "Наука в Сбере-2021",
      "url": "#privetstvie2",
    },
     {
      "id": "50",
      "name": "Научная премия Сбера",
      "url": "#privetstvie2",
    },
    {
      "id": "40",
      "name": "Исследовательские центры",
      "url": "#vvedenie"
    },
    {
      "id": "50",
      "name": "Совместные проекты с ВУЗами",
      "url": "#naychnaya_premiya",
    },
    {
      "id": "60",
      "name": "Взгляд в будущее",
      "url": "#hohlov"
    },
    {
      "id": "70",
      "name": "Научные публикации-2021",
      "url": "#ii"
    },
    {
      "id": "80",
      "name": "Победы в конкурсах",
      "url": "#glyadya_v_budushee",
        },
    {
      "id": "90",
      "name": "Научные публикации 2021 года",
      "url": "publication.html"
    },
    {
      "id": "110",
      "name": "Победы в конкурсах",
      "url": "#nauchnaya_jizn"
    },
    {
      "id": "110",
      "name": "Работа продолжается",
      "url": "#nauchnaya_jizn"
    },
    {
      "id": "110",
      "name": "ДНК Инженера",
      "url": "#nauchnaya_jizn"
    },

  ];