-

  var mainMenu = [
    {
      "id": "10",
      "name": "Цифры и факты",
      "url": "#sifry_i_fakty",
    },
    {
      "id": "20",
      "name": "Ви́дение-2035",
      "url": "#videnie",
    },
    {
      "id": "30",
      "name": "Наука и бизнес",
      "url": "#nayka_i_bisness"
    },
    {
      "id": "40",
      "name": "Метавселенная",
      "url": "#metavselennaya",
    },
     {
      "id": "50",
      "name": "Научные партнеры Сбера",
      "url": "#partners",
    },
    {
      "id": "40",
      "name": "Сбер-Космос-Сбер",
      "url": "#sber-kosmos-sber",
    },
    {
      "id": "50",
      "name": "Наука в Сбере",
      "url": "#naychnaya_premiya",
    },
    {
      "id": "60",
      "name": "Квантовая перспектива",
      "url": "#hohlov",
    },
    {
      "id": "70",
      "name": "Научная премия",
      "url": "#naychnaya_premiya",
    },
    {
      "id": "80",
      "name": "Победы в конкурсах",
      "url": "#pobedy_v_konkursah",
    },
    {
      "id": "90",
      "name": "Исследовательские центры ИИ",
      "url": "#ii",
    },
    {
      "id": "100",
      "name": "Научные публикации 2021 года",
      "url": "publications.html",
      },
    {
      "id": "110",
      "name": "Совместные проекты с вузами и исследовательскими центрами",
      "url": "#sovmestnie_proekty_s_vuzami",
    },
    {
      "id": "120",
      "name": "Работа продолжается",
      "url": "#rabota_prodoljaetsya"
    },
    {
      "id": "130",
      "name": "Взгляд в будущее",
      "url": "#vzglad_v_budushee",
       "menuanchor": "Наука и бизнес",
    },
    {
      "id": "140",
      "name": "ДНК Инженера",
      "url": "#dnk",
       "menuanchor": "Наука и бизнес",
    },

  ];