// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav {

  $block-name:                &; // #{$block-name}__element
width:100%;
position:relative;


  &__inner {
  
  }
  & .row {
    align-items: center;
  }
  &__wrapper {
    display:flex;
    justify-content: flex-end;
  }
 

  // первый уровень
  &__list {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-end;
    max-width:600px;
    background-color: #ffffff ;
    border-radius:10px;
    margin-top:20px;
  


      .js & {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s;

        &--lvl-2 {
          max-height: none;
        }
      }

      .js #{$block-name}--open & {
        max-height: 1000px;
        transition: max-height 0.6s;
        padding:10px; 
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
        @media(max-width:600px){
          padding:30px 5px;
          right: 15px;
          left: 15px;
          top: 0px;
          padding-top: 60px;
    
        }

        &--lvl-2 {
          max-height: none;
        }
      }
   


  }

  &__item {
    position: relative;
    width: 50%;
    padding: 1rem 1rem;
    @media(max-width:600px){
      padding: 0.7rem 0.5rem;
    }

    &--active {

      & > #{$block-name}__link { // stylelint-disable-line  selector-combinator-blacklist
      }
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    color:#1a1a1a;

    &:hover,
    &:focus {
      text-decoration: none;
    }
}





  // переключатель

  &__toggler {
    display: inline-block;
    border: none;
    padding: 0;
    background: none;
    margin-left:15px;
    @media(max-width:600px){
      margin-left:0;
    }
    .no-js & {
      display: none;
    }
  }
}
