// Стилизация БЭМ-блока page.
// Общие стили тегов.
// Подключение шрифтов.
// Типографика.


// Сделаем viewport великим снова! (привет, IE10) http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport {
    width: device-width;
  }
}


/* stylelint-disable */
// @font-face {
//   font-family: 'FONTNAME';
//   src: url('../fonts/FONTNAME.woff2') format('woff2'),
//        url('../fonts/FONTNAME.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }
/* stylelint-enable */


.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}
@font-face {
  font-family: 'SBSansText';
  src: url(../fonts/SBSansText-Regular.woff2)format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'SBSansDisplay';
  src: url(../fonts/SBSansDisplay-Regular.woff2)format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'SBSansDisplay';
  src: url(../fonts/SBSansDisplay-Bold.woff2)format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'SBSansDisplay';
  src: url(../fonts/SBSansDisplay-Light.woff2)format('woff2');
  font-weight: 300;
  font-display: swap;
}
html {
  font-size:18px;

  @media(max-width:1920px)and(min-width:1600px){
    font-size:16px;
  } 
  @media(max-width:1600px)and(min-width:1024px){
    font-size:14px;
  }

  @media(max-width:1024px){
    font-size:12px;
  }

}
body {
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  margin: 0;
  min-height: 100%;
  word-break: break-word;
  font-family: $font-family;
  font-size: 1rem;
  line-height: $line-height;
  text-align: left;
  color: $text-color;
  background-color: $body-bg;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

[tabindex='-1']:focus {
  outline: none !important;
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // Коррекция проблем стилизации для Safari
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; // Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none; // Мы любим Edge, это браузер! (почти)
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #21BA72;
  background-color: transparent;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: #21BA72;
  }

  // &:visited {
  //   color: $link-color--hover;
  // }

  &[href^="tel:"] {

    // На больших экранах телефоны-ссылки делаем обычным текстом
    @media (min-width: $screen-xl) {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: inherit;
    }
  }
}

hr {
  box-sizing: content-box; // Проблема Firefox
  height: 0;               // Проблема Firefox
  overflow: visible;       // Проблема Edge и IE
  margin-top: $typo-margin-vertical * 2;
  margin-bottom: $typo-margin-vertical * 2;
  border: 0;
  border-top: 1px solid $border-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.2;
  color: #21BA72;

  & span {
    font-weight:300;
  }
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: 2.1rem; margin-bottom:2rem;}
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: $typo-margin-vertical;
}

p {
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

ul,
ol {
  margin-bottom: $typo-margin-vertical;
  padding-left: 1.5rem;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  line-height: inherit;
}

// dt {
//   font-weight: 700;
// }

// dd {
//   margin-left: 0;

//   @media (min-width: $screen-sm) {
//     margin-left: 1.5rem;
//   }

//   & + dt {
//     margin-top: ($line-height / 2);
//   }
// }

// .small,
small {
  font-size: $font-size-sm;
}

sub,
sup {
  font-size: $font-size-sm;
}

// .mark,
// mark {
//   background: rgba($color-warning, 0.3);
//   padding: 0.1em 0.3em;
// }

b,
strong {
  font-weight: bolder;
}

// abbr[title] {
//   text-decoration: underline dotted;
// }

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

// samp,
code,
kbd,
pre {
  font-family: $font-family--monospace;
}

code {
  padding: 0.06rem 0.3rem;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06rem 0.3rem;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  margin-bottom: $typo-margin-vertical;
  overflow-x: auto;
  tab-size: 2;
  background-color: rgba(#000, 0.08);

  code {
    background: transparent;
  }
}
.text-center {
  text-align:center;
}
.row {
  @include row(
    $xs-grid-gutter:  0, 
    $sm-grid-gutter:  0,  
    $md-grid-gutter:  20,
    $xl-grid-gutter:  30, 
  );
}
.container {
  @include container();
  max-width:1530px;
}
.col{
@include col();
}
.col-xs-2 {
  @include col(xs, 2, $grid-columns, 10px);
}
.col-xs-6 {
  @include col(xs, 6, $grid-columns, 10px);
}
.col-sm-6 {
  @include col(sm, 6, $grid-columns, 10px);
}
.col-sm-4 {
  @include col(sm, 4, $grid-columns, 10px);
}
.col-md-12 {
  @include col(md, 12, $grid-columns, 12px);
}
.col-md-11 {
  @include col(md, 11, $grid-columns, 12px);
}
.col-md-10 {
  @include col(md, 10, $grid-columns, 12px);
}
.col-md-9 {
  @include col(md, 9, $grid-columns, 12px);
}
.col-md-8 {
  @include col(md, 8, $grid-columns, 12px);
}
.col-md-7 {
  @include col(md, 7, $grid-columns, 12px);
}
.col-md-6 {
  @include col(md, 6, $grid-columns, 12px);
}
.col-md-5 {
  @include col(md, 5, $grid-columns, 12px);
}
.col-md-4 {
  @include col(md, 4, $grid-columns, 12px);
}
.col-md-3 {
  @include col(md, 3, $grid-columns, 12px);
}
.col-md-2 {
  @include col(md, 2, $grid-columns, 12px);
}
.col-md-1 {
  @include col(md, 1, $grid-columns, 12px);
}
.col-lg-12 {
  @include col(lg, 12, $grid-columns, 16px);
}
.col-lg-11 {
  @include col(lg, 11, $grid-columns, 16px);
}
.col-lg-10 {
  @include col(lg, 10, $grid-columns, 16px);
}
.col-lg-9 {
  @include col(lg, 9, $grid-columns, 16px);
}
.col-lg-8 {
  @include col(lg, 8, $grid-columns, 16px);
}
.col-lg-7 {
  @include col(lg, 7, $grid-columns, 16px);
}
.col-lg-6 {
  @include col(lg, 6, $grid-columns, 16px);
}
.col-lg-5 {
  @include col(lg, 5, $grid-columns, 16px);
}
.col-lg-4 {
  @include col(lg, 4, $grid-columns, 16px);
}
.col-lg-3 {
  @include col(lg, 3, $grid-columns, 16px);
}
.col-lg-2 {
  @include col(lg, 2, $grid-columns, 16px);
}
.col-lg-1 {
  @include col(lg, 1, $grid-columns, 16px);
}
.col-xl-12 {
  @include col(xl, 12, $grid-columns, 30px);
}
.col-xl-11 {
  @include col(xl, 11, $grid-columns, 30px);
}
.col-xl-10 {
  @include col(xl, 10, $grid-columns, 30px);
}
.col-xl-9 {
  @include col(xl, 9, $grid-columns, 30px);
}
.col-xl-8 {
  @include col(xl, 8, $grid-columns, 30px);
}
.col-xl-7 {
  @include col(xl, 7, $grid-columns, 26px);
}
.col-xl-6 {
  @include col(xl, 6, $grid-columns, 26px);
}
.col-xl-5 {
  @include col(xl, 5, $grid-columns, 30px);
}
.col-xl-4 {
  @include col(xl, 4, $grid-columns, 30px);
}
.col-xl-3 {
  @include col(xxl, 3, $grid-columns, 26px);
}
.col-xl-2 {
  @include col(xxl, 2, $grid-columns, 30px);
}
.col-xl-1 {
  @include col(xl, 1, $grid-columns, 30px);
}
.col-xxl-12 {
  @include col(xxl, 12, $grid-columns, 30px);
}
.col-xxl-11 {
  @include col(xxl, 11, $grid-columns, 30px);
}
.col-xxl-10 {
  @include col(xxl, 10, $grid-columns, 30px);
}
.col-xxl-9 {
  @include col(xxl, 9, $grid-columns, 30px);
}
.col-xxl-8 {
  @include col(xxl, 8, $grid-columns, 30px);
}
.col-xxl-7 {
  @include col(xxl, 7, $grid-columns, 30px);
}
.col-xxl-6 {
  @include col(xxl, 6, $grid-columns, 30px);
}
.col-xxl-5 {
  @include col(xxl, 5, $grid-columns, 30px);
}
.col-xxl-4 {
  @include col(xxl, 4, $grid-columns, 30px);
}
.col-xxl-3 {
  @include col(xxl, 3, $grid-columns, 30px);
}
.col-xxl-2 {
  @include col(xxl, 2, $grid-columns, 30px);
}
.col-xxl-1 {
  @include col(xxl, 1, $grid-columns, 30px);
}
.offset-md-2{
 @include col-offset(md, 2, 12)
}
.offset-lg-2{
  @include col-offset(lg, 2, 12)
 }
 .offset-xl-1{
  @include col-offset(xl, 1, 12)
 }
 .offset-xl-2{
  @include col-offset(xl, 2, 12)
 }
 .offset-xxl-1{
  @include col-offset(xxl, 1, 12)
 }
 .offset-xxl-2{
  @include col-offset(xxl, 2, 12)
 }
 .sm-hidden {
  @media(max-width:600px){
    display:none;
  }
 }
 .md-hidden {
  @media(max-width:768px){
    display:none;
  }
 }
// first-screen
.first-screen {
  position:relative;
  background-color: #18182A;
  width:100%;
  min-height:100vh;
  display: flex;
  align-items: center;
  background-image: url('../img/bg.png');
  background-repeat:no-repeat;
  background-position: right center;
  background-size: contain;
  z-index:1;
  @media(max-width:600px){
    background-size:cover;
    background-position: center center;
  }

  & h1 {
    color:#ffffff;
    font-weight:300;
    font-family:'SBSansDisplay';
    font-size:7.5rem;

    & span {
      display:block;
      font-weight:600;
    }
    @media (max-width:1920px) and (min-width: 1367px){
      font-size:6.5rem;
    }
    @media (max-width:1367px) and (min-width: 600px){
      font-size:5.5rem;
    }
    @media (max-width: 600px){
      font-size: 4.5rem;
    }
    

  }
  &__lines {
    fill:none;
    position:absolute;
    top:90%;
    left:0;

    & path {
    stroke: #16769E;
    stroke-dashoffset: 2920;
    stroke-dasharray: 2920;

    }

    &--animate {
      & path {
      animation: reveal 6s alternate forwards; 
      }
    }
  }

}
@keyframes reveal {
  from {
    stroke-dashoffset: -1920;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.two-screen {
  position:relative;
  z-index: 3; 
  padding-top:60px;
  margin-bottom:100px;
  @media (max-width:600px){
    padding-top:2rem;
    margin-bottom:30px;
  }
}
.block-quote {
    position:relative;
  display:flex;
  flex-wrap:wrap;
  align-items: flex-end;
  z-index:5;
  
  &__content {
    @media (max-width:600px){
      order:3;
      padding-top:2rem;
    }
  }


  &__separator {
    height:3px;
    background: linear-gradient(90deg, #C9DA26 -0.8%, #219F38 56.7%, #0FA7DF 100%);
    @media (max-width:600px){
      order:2;
    }
  }

  &__img {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 5;
    @media (max-width:600px){
      order:1;

      & img {
        max-width:70%;
      }
    }
  }

  & p {
    flex-basis: 100%;
  }
  &__name {
    font-weight:600;
    margin-bottom:5px;
  }
  &__position {
    color:#b3adad;
  }
  &__read-more {
    color: #b3adad;
    
    & span {
      text-decoration:underline;
    }

    &:after {
      content:'*';
      text-decoration:none;

    }
  }
}
.three-screen {
  background-color: #E8EDEE;
  padding:100px 0;
  @media(max-width:600px){
    padding:30px 0;
  }
}
.info-card {
  display: flex;
  align-items: stretch;
 
  &__wrapper {
    position:relative;
    width:100%;
    background-color:#ffffff;
    border-radius: 10px;
    margin-bottom:2rem;
    padding:2rem 2.2rem;
  }

  &__header {
    font-size:54px;
    font-size:3.87rem;
    line-height:6rem;
    margin-bottom:1.5rem;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(90deg, #C9DA26 -0.8%, #219F38 56.7%, #0FA7DF 100%);
    border-image-slice: 1;
    background: linear-gradient(2deg, #F1F44B 6.74%, #9FF175 44.65%, #0FA7DF 81.86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #219F38;
  }
}
.four-screen {
  padding:100px 0;
}
.partners-list {
  display:flex;
 flex-wrap:wrap; 
 overflow:hidden;
 margin:30px auto;
 width:100%;
 @media(min-width:1440px){
  width: 1000px;
  margin:80px auto 150px;
}
 @media(min-width:1024px){
  margin:50px auto;
   width: 800px;
 }

  &__item {
    list-style:none;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height:150px;
    width:33%;
    & img {
      max-width:80%;
    }
  @media(min-width:1024px){
    & img {
      max-width:90%;
    }
      &:nth-child(-n+3){
        width:33%;
      }
      &:nth-child(1n+4){
        width:14%;
      }
      &:nth-child(1n+11){
        width:20%;
      }
      &:first-child{
        justify-content: flex-end;
        align-items: flex-end;
      }
      &:nth-child(2){
        align-items: flex-start;
      }
      &:nth-child(3) {
        justify-content: flex-start;
        align-items: flex-end;
      }
      &:nth-child(4) {
        align-items: flex-start; 
      }
      &:nth-child(5) {
        align-items: flex-end; 
      }
      &:nth-child(6) {
        align-items: flex-start; 
      }
      &:nth-child(8) {
        align-items: flex-start; 
      }
      &:nth-child(9) {
        align-items: flex-end; 
      }
      &:nth-child(10) {
        align-items: flex-start; 
      }
      &:nth-child(11) {
        align-items: flex-start; 
      }
      &:nth-child(13) {
        align-items: flex-end; 
      }
    }
  }
}
.six-screen {
  padding-bottom:100px;
  & img {
    margin-top:1rem;
    border-radius:10px;
  }
}
.seven-screen {
  background-image:url('/img/seven-screen__bg.jpg');
  background-position: right center;

  & h2 {
    padding:180px 0;
    color:#ffffff;
          font-weight:600;
    font-family:'SBSansDisplay';
    font-size:7.5rem;

    & span {
      display:block;

      font-weight:300;
    }
    @media (max-width:1920px) and (min-width: 1367px){
      font-size:6.5rem;
    }
    @media (max-width:1367px) and (min-width: 600px){
      font-size:5.5rem;
    }
    @media (max-width: 600px){
      font-size: 4.5rem;
    }
  }
}
.eight-screen {
  padding: 100px 0;
  & .row {
    align-items: center;
  }
  & h3 {
    margin-bottom:10px;
  }
  & .subtitle {
    color: #21BA72;
    margin-bottom:10px;
  }
  &__btn {
    margin-top:2rem;
    @media (max-width:600px){
      text-align: center;
      margin-bottom:1rem;
    }
  }

  &__img {
    display:flex;
    @media (max-width:600px){
      flex-direction: column;
      & img {
        width:100%;
      }
    }
  }
}
.nine-screen {
  background-color: #E8EDEE;
  padding:100px 0;
  & h3 {
    font-size:1.8rem;
  }
}