//- Стандартный шаблон страницы

include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    //- Фавиконки (https://realfavicongenerator.net)
    //- link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
    //- link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
    //- link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
    //- link(rel='manifest', href='/img/favicon/site.webmanifest')
    //- link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    //- meta(name='msapplication-TileColor', content='#5bbad5')
    //- meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.css')
      script
        include ../js/head-script.js

  body
    noscript У вас отключен JavaScript. Это пугает.

    .page__inner
      .page__content
        //- первый экран
        .first-screen 
          +page-header()
            block nav
          .container 
            .row 
              .col-md-12.col 
               h1 Наука в Сбере <span>2021</span>
          <svg class="first-screen__lines" viewBox="0 0 1440 398" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-25 1C-25 1 414.513 1.00024 677.277 1C1006.66 0.999698 1024.75 397 1354.39 397" stroke="currentColor" stroke-width="2" stroke-linecap="round" ></path><path d="M-21 13C-21 13 640.053 13.0007 902.803 13.0005C1232.17 13.0002 1041.69 397 1371 397" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path><path d="M-33 25C-33 25 504.13 25.0002 766.918 25.0002C1145.5 25.0002 938.972 397 1365.64 397" stroke="currentColor" stroke-width="2" stroke-linecap="round" ></path><path d="M-16 37C-16 37 406.706 37.0002 669.485 37.0002C1048.05 37.0002 962.472 397 1363.96 397C1420.64 397 1581.81 397 1581.81 397" stroke="currentColor" stroke-width="2" stroke-linecap="round" ></path></svg>
        //- второй экран
        .two-screen 
          .container 
           .row.block-quote 
            .offset-xxl-2.offset-xl-1.col-xl-6.col-xxl-5.col-md-6.block-quote__content
                p Исторически научная школа России считается одной из сильнейших в мире. В Сбере мы аккумулировали лучшие умы по cтратегически важным для нас научно-технологическим направлениям. При этом мы тесно сотрудничаем с ведущими российскими институтами и научными центрами. Синергия между научным сообществом и бизнесом создает хорошие предпосылки для технологических прорывов.
                p А чтобы поддержать деятелей науки, мы учредили собственную ежегодную Научную премию Сбера.
                .block-quote__footer
                  p.block-quote__name Герман Греф
                  p.block-quote__position Президент,Председатель Правления Сбербанка 
            .col-xl-4.col-md-6.block-quote__img
              img(src="img/gref.png" decoding="async" loading="lazy" width="300" height="450" alt="Герман Оскарович Греф")
            .offset-xxl-1.offset-xl-1.col-xxl-9.col-xl-10.col-md-12.block-quote__separator
        //- третий экран
        .three-screen 
          .container 
            .row 
              .col-xl-4
                .info-card 
                  .info-card__header 46
                  .info-card__footer книг, статей и докладов опубликовано в ведущих мировых научных изданиях, в том числе — в журналах квартилей Q1/Q2 и в сборниках конференций уровня A/A* 
              .col-xl-4
                .info-card 
                  .info-card__header 46
                  .info-card__footer книг, статей и докладов опубликовано в ведущих мировых научных изданиях, в том числе — в журналах квартилей Q1/Q2 и в сборниках конференций уровня A/A* 
              .col-xl-4
                .info-card 
                  .info-card__header 46
                  .info-card__footer книг, статей и докладов опубликовано в ведущих мировых научных изданиях, в том числе — в журналах квартилей Q1/Q2 и в сборниках конференций уровня A/A* 
              .col-xl-4
                .info-card 
                  .info-card__header 46
                  .info-card__footer книг, статей и докладов опубликовано в ведущих мировых научных изданиях, в том числе — в журналах квартилей Q1/Q2 и в сборниках конференций уровня A/A* 
              .col-xl-4
                .info-card 
                  .info-card__header 46
                  .info-card__footer книг, статей и докладов опубликовано в ведущих мировых научных изданиях, в том числе — в журналах квартилей Q1/Q2 и в сборниках конференций уровня A/A* 
              .col-xl-4
                .info-card 
                  .info-card__header 46
                  .info-card__footer книг, статей и докладов опубликовано в ведущих мировых научных изданиях, в том числе — в журналах квартилей Q1/Q2 и в сборниках конференций уровня A/A* 
               
        block content
          p содержимое

      .page__footer-wrapper
        +page-footer()
          block footer
            p «Подвал»
            p Контактный телефон: #[a(href='tel:+70000000000') +7 000 000 00 00]

    block page-bottom
      script(src='js/bundle.js')
