//- Стандартный шаблон страницы

include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    //- Фавиконки (https://realfavicongenerator.net)
    //- link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
    //- link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
    //- link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
    //- link(rel='manifest', href='/img/favicon/site.webmanifest')
    //- link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    //- meta(name='msapplication-TileColor', content='#5bbad5')
    //- meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')
    meta(property="og:title" content="Научные_публикации-2021")
    meta(property="og:description" content="Научные_публикации-2021")
    meta(property="og:image" content="img/preview.jpg")
    block meta
      title Наука в Сбере

    block head
      link(rel='stylesheet', href='css/style.css')
      script
        include ../js/head-script.js

  body
    noscript У вас отключен JavaScript. Это пугает.

    .page__inner
      .page__content
        //- первый экран
        .first-screen 
          +page-header()
            block nav
          .container.first-screen__background 
            .row 
              .col-lg-7.col 
               h1 Наука в Сбере <span>2021</span>
          <svg class="first-screen__lines"  viewBox="0 0 1920 992" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1929 952.505C1893 967.067 1817 924.802 1801 639.244C1781 282.296 1723 191.727 1640 174.679C1557 157.631 1588 39.3583 1488 19.1136C1408 2.91772 1209 9.52391 1209 9.52391L0 1" stroke="url(#paint0_linear_53_896)"/><path d="M1962 974.505C1926 989.067 1850 946.802 1834 661.244C1814 304.296 1756 213.727 1673 196.679C1590 179.631 1621 61.3583 1521 41.1136C1441 24.9177 1242 31.5239 1242 31.5239L0 20" stroke="url(#paint1_linear_53_896)"/><path d="M1988 988.505C1952 1003.07 1876 960.802 1860 675.244C1840 318.296 1782 227.727 1699 210.679C1616 193.631 1647 75.3583 1547 55.1136C1467 38.9177 1268 45.5239 1268 45.5239L0 34" stroke="url(#paint2_linear_53_896)"/><defs><linearGradient id="paint0_linear_53_896" x1="1586.24" y1="990.988" x2="1457.24" y2="-47.8684" gradientUnits="userSpaceOnUse"><stop offset="0.07" stop-color="#F1F44B"/><stop offset="0.498943" stop-color="#9FF175"/><stop offset="0.92" stop-color="#0FA7DF"/></linearGradient><linearGradient id="paint1_linear_53_896" x1="1613.37" y1="1013.1" x2="1485.69" y2="-29.4538" gradientUnits="userSpaceOnUse"><stop offset="0.07" stop-color="#F1F44B"/><stop offset="0.498943" stop-color="#9FF175"/><stop offset="0.92" stop-color="#0FA7DF"/></linearGradient><linearGradient id="paint2_linear_53_896" x1="1634.75" y1="1027.1" x2="1508.69" y2="-15.8543" gradientUnits="userSpaceOnUse"><stop offset="0.07" stop-color="#F1F44B"/><stop offset="0.498943" stop-color="#9FF175"/><stop offset="0.92" stop-color="#0FA7DF"/></linearGradient></defs></svg>
        //- второй экран
        .two-screen 
          .container 
           .row.block-quote 
            .offset-xxl-2.offset-xl-1.col-xl-6.col-xxl-5.col-md-6.block-quote__content
                p Исторически научная школа России считается одной из сильнейших в мире. В Сбере мы аккумулировали лучшие умы по cтратегически важным для нас научно-технологическим направлениям. При этом мы тесно сотрудничаем с ведущими российскими институтами и научными центрами. Синергия между научным сообществом и бизнесом создает хорошие предпосылки для технологических прорывов.
                p А чтобы поддержать деятелей науки, мы учредили собственную ежегодную Научную премию Сбера.
                .block-quote__footer
                  p.block-quote__name Герман Греф
                  p.block-quote__position Президент,Председатель Правления Сбербанка 
            .col-xl-4.col-md-6.block-quote__img
              img(src="img/gref.png" decoding="async" loading="lazy" width="300" height="450" alt="Герман Оскарович Греф")
            .offset-xxl-1.offset-xl-1.col-xxl-9.col-xl-10.col-md-12.block-quote__separator
        //- третий экран
        .three-screen 
          .container 
            .row 
              .col-md-4.col-sm-6.info-card
                .info-card__wrapper
                  .info-card__header 46
                  .info-card__footer книг, статей и докладов опубликовано в ведущих мировых научных изданиях, в том числе — в журналах квартилей Q1/Q2 и в сборниках конференций уровня A/A* 
              .col-md-4.col-sm-6.info-card
                .info-card__wrapper
                  .info-card__header 12
                  .info-card__footer статей и докладов принято к публикации в ведущих мировых изданиях 
              .col-md-4.col-sm-6.info-card
                .info-card__wrapper
                  .info-card__header 19
                  .info-card__footer статей и докладов представлено для публикации
              .col-md-4.col-sm-6.info-card
                .info-card__wrapper
                  .info-card__header 90
                  .info-card__footer патентов получено в 2021 году, 5 изобретений отнесены Роспатентом к лучшим изобретениям России 
              .col-md-4.col-sm-6.info-card
                .info-card__wrapper
                  .info-card__header 20
                  .info-card__footer млн рублей получит каждый из трех лауреатов Научной премии Сбера
              .col-md-4.col-sm-6.info-card
                .info-card__wrapper
                  .info-card__header 3
                  .info-card__footer исследовательских центра искусственного интеллекта создано в 2021 году с вузами-партнерами
        //- четвертый экран
        .four-screen
         .container
          .row 
            .col-xxl-12.col-xl-12.col-lg-12.col-md-12.col-sm-12 
              h3 Науки и бизнес 
            .col-xxl-5.col-xl-6.col-lg-6.col-md-12.col-sm-12.block-quote 
              p Сбер — уже давно не просто банк, а большая технологическая компания с&nbsp;мощным R&D-направлением. Именно результаты наших исследований и разработок лежат в основе нашей конкурентоспособности. Повышаем ли мы эффективность собственных бизнес-процессов, выводим ли на рынок новые продукты для розничных или корпоративных клиентов, разрабатываем ли решения для трансформации целых отраслей экономики – каждый наш шаг опирается на достижения многих тысяч наших инженеров, учёных лабораторий и исследовательских центров, партнёров в ведущих университетах и научных институтах. И я искренне благодарен им за это! 
              p В 2021 году Сбер стал лучшим цифровым розничным банком в мире по версии Global Finance. Наш клиент не знает, да и не должен знать имён тех, чей труд стоит за лучшими в мире цифровыми сервисами, которыми он пользуется. Но мы знаем всех и гордимся каждым.
              p За неполный 2021 год учёные и разработчики Сбера получили более 90 патентов на изобретения, опубликовали и представили к публикации 77 научных работ в ведущих мировых журналах и на международных конференциях уровня A и A*, получили множество разнообразных премий, а под завершение года заняли первые места в международных конкурсах, которые проводились на крупнейшей мировой конференции NeurIPS, показав лучшие результаты в обучении нейросетей решению сложнейших задач реального мира.
              p Не сомневаюсь, что с такой командой и с той атмосферой постоянного научного поиска и творческой свободы, которая царит в Сбере, нам любые вызовы по плечу. Уверен, что в 2022 году мы станем свидетелями новых побед наших учёных, новых пионерских публикаций и изобретений, внедрения новых прорывных идей в технологии и продукты Сбера.
              p.block-quote__name Александр Ведяхин
              p.block-quote__position Первый заместитель Председателя Правления Сбербанка
            .col-xxl-7.col-xl-6.col-lg-6.col-md-6.md-hidden
              img(src="img/four-screen.jpg" decoding="async" loading="lazy" width="100%" height="auto" alt="Науки и бизнес") 
        //- Пятый экран
        .five-screen
          .container
            .row 
              .col-xs-12 
                h3.text-center <span>Основные научные</span> Партнеры сбера 
            ul.partners-list
              li.partners-list__item 
                a.partners-list__link(href="https://www.rgo.ru" target="_blank" aria-label="Русское Географическое Общество")
                  img(src="/img/logos/rgo.svg" decoding="async" loading="lazy"   width="156" height="112" alt="Русское Географическое Общество")
              li.partners-list__item 
                a.partners-list__link(href="https://miem.hse.ru/" target="_blank" aria-label="МИЭМ")
                  img(src="/img/logos/miem.svg" decoding="async" loading="lazy"   width="185" height="92" alt="МИЭМ")
              li.partners-list__item 
                a.partners-list__link(href="https://www.nes.ru/" target="_blank" aria-label="Российская школа экономики")
                  img(src="/img/logos/resh.svg" decoding="async" loading="lazy"   width="165" height="106" alt="Российская школа экономики")
              li.partners-list__item 
                a.partners-list__link(href="https://rqc.ru/" target="_blank" aria-label="РКС")
                  img(src="/img/logos/rqc.svg" decoding="async" loading="lazy"   width="203" height="64" alt="РКС")
              li.partners-list__item 
                a.partners-list__link(href="https://www.inm.ras.ru/" target="_blank" aria-label="IBM")
                  img(src="/img/logos/ivm.svg" decoding="async" loading="lazy"   width="155" height="155" alt="IBM")
              li.partners-list__item 
                a.partners-list__link(href="https://mai.ru" target="_blank" aria-label="МАИ")
                  img(src="/img/logos/mai.svg" decoding="async" loading="lazy"   width="80" height="80" alt="МАИ")
              li.partners-list__item 
                a.partners-list__link(href="https://www.inm.ras.ru/" target="_blank" aria-label="ПОМИ РАН")
                  img(src="/img/logos/pomiran.svg" decoding="async" loading="lazy"   width="150" height="150" alt="ПОМИ РАН")
              li.partners-list__item 
                a.partners-list__link(href="https://www.ocean.ru/" target="_blank" aria-label="Институт Океанологии")
                  img(src="/img/logos/oceanology.svg" decoding="async" loading="lazy"   width="184" height="118" alt="Институт Океанологии")
              li.partners-list__item 
                a.partners-list__link(href="https://www.hse.ru/" target="_blank" aria-label="Высшая школа экономики")
                  img(src="/img/logos/vse.svg" decoding="async" loading="lazy"   width="100" height="100" alt="Высшая школа экономики")
              li.partners-list__item 
                a.partners-list__link(href="https://www.msu.ru/" target="_blank" aria-label="МГУ")
                  img(src="/img/logos/mgu.svg" decoding="async" loading="lazy"   width="134" height="134" alt="МГУ")
              li.partners-list__item 
                a.partners-list__link(href="https://mipt.ru/" target="_blank" aria-label="МФТИ")
                  img(src="/img/logos/mfti.svg" decoding="async" loading="lazy"   width="150" height="50" alt="МФТИ")
              li.partners-list__item 
                a(href="https://misis.ru/" target="_blank" aria-label="МИСИС")
                  img(src="/img/logos/misis.svg" decoding="async" loading="lazy"   width="150" height="104" alt="МИСИС")
              li.partners-list__item 
                a.partners-list__link(href="https://itmo.ru/" target="_blank" aria-label="ИТМО")
                  img(src="/img/logos/itmo.svg" decoding="async" loading="lazy"   width="200" height="150" alt="ИТМО")
              li.partners-list__item 
                a.partners-list__link(href="https://ssau.ru/" target="_blank" aria-label="Самарский Университет")
                  img(src="/img/logos/su.svg" decoding="async" loading="lazy"   width="150" height="80" alt="Самарский Университет")
              li.partners-list__item 
                a.partners-list__link(href="https://www.skoltech.ru/?lang=ru" target="_blank" aria-label="Сколтех")
                  img(src="/img/logos/skolteh.svg" decoding="async" loading="lazy"   width="150" height="80" alt="Сколтех")
        //- Шестой экран
        .six-screen
          .container 
            .row 
              .col-xxl-7.col-xl-7.col-lg-7.col-md-6
                img(src="img/photo_evimov_group.jpg" decoding="async" loading="lazy" alt="Альберт Ефимов") 
              .col-xxl-5.col-xl-5.col-lg-5.col-md-6
                h3 Наука в Сбере
                .block-quote
                  p Сбер сегодня – это передовая технологическая компания. Здесь работают исследователи и инженеры, обеспечивающие конкурентное превосходство нашим платформам, продуктам и сервисам. Результаты прикладных разработок – на виду. Они приносят реальную пользу клиентам, повышая эффективность компаний экосистемы Сбера, защищены патентами, отмечены национальными и еждународными премиями. Наши open-source продукты все шире используются сообществами разработчиков по всему миру.
                  p.block-quote__read-more(aria-label="Читать полностью") <span>Читать полностью</span>
                  p.block-quote__name Альберт Ефимов
                  p.block-quote__position канд. филос. наук, Вице-президент — директор управления<br>исследований и инноваций, Сбербанк 
        //- Седьмой экран
        .seven-screen
          .container 
            .row
              .col-md-12.col 
                h2 Научная премия <span>в Сбере</span>
        .eight-screen 
          .container 
            .row
              .col-xxl-4.col-xl-4.col-md-12
                  h3 2021
                  .subtitle Год науки и технологий
                  .eight-screen__content В 2021 году Сбер учредил Научную премию Сбера в области науки и технологий, являющейся признанием достижений и поощрением научной смелости. Премия присуждается в трех номинациях.
                  .eight-screen__btn
                    a.btn(href="#" aria-label="Читать о премии") Читать о премии
              .col-xxl-8.col-xl-8.col-md-12
                .eight-screen__img 
                 img(src="img/silense1.png" decoding="async" loading="lazy" width="33%" alt="Физический мир" )
                 img(src="img/silense2.png" decoding="async" loading="lazy" width="33%" alt="Цифровая вселенная" )
                 img(src="img/silense3.png" decoding="async" loading="lazy" width="33%"  alt="Науки о жизни" )
        block content
          p содержимое

      .page__footer-wrapper
        +page-footer()
          block footer
            p «Подвал»
            p Контактный телефон: #[a(href='tel:+70000000000') +7 000 000 00 00]

    block page-bottom
      script(src='js/bundle.js')
