//- Стандартный шаблон страницы

include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    //- Фавиконки (https://realfavicongenerator.net)
    //- link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
    //- link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
    //- link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
    //- link(rel='manifest', href='/img/favicon/site.webmanifest')
    //- link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    //- meta(name='msapplication-TileColor', content='#5bbad5')
    //- meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')
    meta(property="og:title" content="Научные_публикации-2021")
    meta(property="og:description" content="Научные_публикации-2021")
    meta(property="og:image" content="img/preview.jpg")
    block meta
      title Наука в Сбере

    block head
      link(rel='stylesheet', href='css/style.css')
      script
        include ../js/head-script.js

  body
    noscript У вас отключен JavaScript. Это пугает.

    .page__inner
      .page__content
        //- первый экран
        .first-screen 
          +page-header()
            .row 
              .col-lg-2.col-xs-4 
                +logo(' ')
                    img(src='img/logo.svg', alt='Logo', width='132', height='37')
              .col-lg-4.col-xs-4.page-header__right-part 
                a(href="index-en.html").page-header__language EN
                .page-header__button  Содержание
                    +burger('Показать содержание', 'nav', 'main-nav--open')(class='main-nav__toggler')
              block nav
                +main-nav('10')
          .container.first-screen__background 
            .row 
              .col-lg-7.col 
                h1 Наука в&nbsp;Сбере <span>2021</span>
        //- второй экран
        .two-screen 
          .container 
            .row.block-quote
              .col-xl-6.col-xxl-6.col-md-12.block-quote__content
                  p Исторически научная школа России считается одной из сильнейших в мире. В Сбере мы аккумулировали лучшие умы по cтратегически важным для нас научно-технологическим направлениям. При этом мы тесно сотрудничаем с ведущими российскими институтами и научными центрами. Синергия между научным сообществом и бизнесом создает хорошие предпосылки для технологических прорывов.
                  p А чтобы поддержать деятелей науки, мы учредили собственную ежегодную Научную премию Сбера.
                  .block-quote__footer
                    p.block-quote__name Герман Греф
                    p.block-quote__position Президент, Председатель Правления Сбербанка 
              .col-xl-6.col-xxl-6.col-md-12.block-quote__img
                img(src="img/gref.png" decoding="async" loading="lazy" width="300" height="450" alt="Герман Оскарович Греф")
        //- третий экран
        #sifry_i_fakty.three-screen 
          .container 
            .row 
              .col-lg-4.col-md-6.info-card
                .info-card__wrapper
                  .info-card__header 46
                  .info-card__footer книг, статей и докладов опубликовано в ведущих мировых научных изданиях, в том числе — в журналах квартилей Q1/Q2 и в сборниках конференций уровня A/A* 
              .col-lg-4.col-md-6.info-card
                .info-card__wrapper
                  .info-card__header 12
                  .info-card__footer статей и докладов принято к публикации в ведущих мировых изданиях 
              .col-lg-4.col-md-6.info-card
                .info-card__wrapper
                  .info-card__header 19
                  .info-card__footer статей и докладов представлено для публикации
              .col-lg-4.col-md-6.info-card
                .info-card__wrapper
                  .info-card__header 90
                  .info-card__footer патентов получено в 2021 году, 5 изобретений отнесены Роспатентом к лучшим изобретениям России 
              .col-lg-4.col-md-6.info-card
                .info-card__wrapper
                  .info-card__header 20
                  .info-card__footer млн рублей получит каждый из трех лауреатов Научной премии Сбера
              .col-lg-4.col-md-6.info-card
                .info-card__wrapper
                  .info-card__header 3
                  .info-card__footer исследовательских центра искусственного интеллекта создано в 2021 году с вузами-партнерами
        //- четвертый экран
        #nayka_i_bisness.four-screen
          .container
            .four-screen__content
                h3 Наука и бизнес 
                p Сбер — уже давно не просто банк, а большая технологическая компания с&nbsp;мощным R&D-направлением. Именно результаты наших исследований и разработок лежат в основе нашей конкурентоспособности. Повышаем ли мы эффективность собственных бизнес-процессов, выводим ли на рынок новые продукты для розничных или корпоративных клиентов, разрабатываем ли решения для трансформации целых отраслей экономики – каждый наш шаг опирается на достижения многих тысяч наших инженеров, учёных лабораторий и исследовательских центров, партнёров в ведущих университетах и научных институтах. И я искренне благодарен им за это! 
                p В 2021 году Сбер стал лучшим цифровым розничным банком в мире по версии Global Finance. Наш клиент не знает, да и не должен знать имён тех, чей труд стоит за лучшими в мире цифровыми сервисами, которыми он пользуется. Но мы знаем всех и гордимся каждым.
                p За неполный 2021 год учёные и разработчики Сбера получили более 90 патентов на изобретения, опубликовали и представили к публикации 77 научных работ в ведущих мировых журналах и на международных конференциях уровня A и A*, получили множество разнообразных премий, а под завершение года заняли первые места в международных конкурсах, которые проводились на крупнейшей мировой конференции NeurIPS, показав лучшие результаты в обучении нейросетей решению сложнейших задач реального мира.
                p Не сомневаюсь, что с такой командой и с той атмосферой постоянного научного поиска и творческой свободы, которая царит в Сбере, нам любые вызовы по плечу. Уверен, что в 2022 году мы станем свидетелями новых побед наших учёных, новых пионерских публикаций и изобретений, внедрения новых прорывных идей в технологии и продукты Сбера.
                p.block-quote__name Александр Ведяхин
                p.block-quote__position Первый заместитель Председателя Правления Сбербанка
          #partners.four-screen__partners.partners
            .container
              h3 Основные научные <br>партнеры Сбера 
              #partners__splide.splide
                .splide__track
                  ul.partners__list.splide__list
                    li.partners__item.splide__slide 
                      a.partners__link(href="https://www.rgo.ru" target="_blank" aria-label="Русское Географическое Общество")
                        img(src="img/logos/rgo.svg" decoding="async" loading="lazy"   width="156" height="112" alt="Русское Географическое Общество")
                    li.partners__item.splide__slide 
                      a.partners__link(href="https://miem.hse.ru/" target="_blank" aria-label="МИЭМ")
                        img(src="img/logos/miem.svg" decoding="async" loading="lazy"   width="185" height="92" alt="МИЭМ")
                    li.partners__item.splide__slide 
                      a.partners__link(href="https://www.nes.ru/" target="_blank" aria-label="Российская школа экономики")
                        img(src="img/logos/resh.svg" decoding="async" loading="lazy"   width="165" height="106" alt="Российская школа экономики")
                    li.partners__item.splide__slide 
                      a.partners__link(href="https://rqc.ru/" target="_blank" aria-label="РКС")
                        img(src="img/logos/rqc.svg" decoding="async" loading="lazy"   width="203" height="64" alt="РКС")
                    li.partners__item.splide__slide 
                      a.partners__link(href="https://www.inm.ras.ru/" target="_blank" aria-label="IBM")
                        img(src="img/logos/ivm.svg" decoding="async" loading="lazy"   width="155" height="155" alt="IBM")
                    li.partners__item.splide__slide 
                      a.partners__link(href="https://mai.ru" target="_blank" aria-label="МАИ")
                        img(src="img/logos/mai.svg" decoding="async" loading="lazy"   width="80" height="80" alt="МАИ")
                    li.partners__item.splide__slide 
                      a.partners__link(href="https://www.inm.ras.ru/" target="_blank" aria-label="ПОМИ РАН")
                        img(src="img/logos/pomiran.svg" decoding="async" loading="lazy"   width="150" height="150" alt="ПОМИ РАН")
                    li.partners__item.splide__slide 
                      a.partners__link(href="https://www.ocean.ru/" target="_blank" aria-label="Институт Океанологии")
                        img(src="img/logos/Oceanology.svg" decoding="async" loading="lazy"   width="184" height="118" alt="Институт Океанологии")
                    li.partners__item.splide__slide 
                      a.partners__link(href="https://www.hse.ru/" target="_blank" aria-label="Высшая школа экономики")
                        img(src="img/logos/vse.svg" decoding="async" loading="lazy"   width="100" height="100" alt="Высшая школа экономики")
                    li.partners__item.splide__slide 
                      a.partners__link(href="https://www.msu.ru/" target="_blank" aria-label="МГУ")
                        img(src="img/logos/mgu.svg" decoding="async" loading="lazy"   width="134" height="134" alt="МГУ")
                    li.partners__item.splide__slide 
                      a.partners__link(href="https://mipt.ru/" target="_blank" aria-label="МФТИ")
                        img(src="img/logos/mfti.svg" decoding="async" loading="lazy"   width="150" height="50" alt="МФТИ")
                    li.partners__item.splide__slide 
                      a(href="https://misis.ru/" target="_blank" aria-label="МИСИС")
                        img(src="img/logos/misis.svg" decoding="async" loading="lazy"   width="150" height="104" alt="МИСИС")
                    li.partners__item.splide__slide 
                      a.partners__link(href="https://itmo.ru/" target="_blank" aria-label="ИТМО")
                        img(src="img/logos/itmo.svg" decoding="async" loading="lazy"   width="200" height="150" alt="ИТМО")
                    li.partners__item.splide__slide 
                      a.partners__link(href="https://ssau.ru/" target="_blank" aria-label="Самарский Университет")
                        img(src="img/logos/su.svg" decoding="async" loading="lazy"   width="150" height="80" alt="Самарский Университет")
                    li.partners__item.splide__slide 
                      a.partners__link(href="https://www.skoltech.ru/?lang=ru" target="_blank" aria-label="Сколтех")
                        img(src="img/logos/skolteh.svg" decoding="async" loading="lazy"   width="150" height="80" alt="Сколтех")
          //- Шестой экран 
        #nauka_v_sber.six-screen
          .container
            .six-screen__content 
              h3 Наука в Сбере
              img(src="img/photo_evimov_group.jpg" decoding="async" loading="lazy" alt="Альберт Ефимов") 
              p Сбер сегодня – это передовая технологическая компания. Здесь работают исследователи и инженеры, обеспечивающие конкурентное превосходство нашим платформам, продуктам и сервисам. Результаты прикладных разработок – на виду. Они приносят реальную пользу клиентам, повышая эффективность компаний экосистемы Сбера, защищены патентами, отмечены национальными и международными премиями. Наши open-source продукты все шире используются сообществами разработчиков по всему миру.
              .six-screen__more 
                p Но мы смотрим и за горизонт! Поисковые исследования позволяют лучше понять, с какими вызовами и возможностями наши команды столкнутся в будущем.
                p Исследования идут и инновации внедряются во всей Группе Сбер, и в наших командах исследователей работают лучшие из лучших. Полученные ими прикладные результаты очень часто имеют и значительную степень подлинно научной новизны. Поэтому статьи наших коллег регулярно публикуются в ведущих международных научных журналах. Мы активно наращиваем один из важнейших активов Группы — интеллектуальную собственность: к декабрю 2021 года наши инженеры получили 226 патентов, и их число постоянно растет. 5 наших изобретений отнесены Роспатентом к лучшим изобретениям России. Всего в 2021 г. нашими исследователями было опубликовано и направлено для публикации более 70 научных работ в ведущих рецензируемых научных журналах за рубежом и в России. 
                p Мы занимаемся исследованиями и инновациями как силами собственных команд, так и объединяя свои усилия с ведущими вузами, исследовательскими центрами и технологическими партнерами по всему миру. Совместные исследования Сбера и университетов расширяют наши возможности по созданию технологического конкурентного преимущества — вместе мы достигаем большего результата за меньшее время. В текущем году мы запустили новые совместные исследования с Российским квантовым центром, Сколтехом, ВШЭ, МФТИ, МИЭМ, МГУ, МИСиС, РЭШ, Институтами океанологии, географии и вычислительной математики РАН.
                p Около года назад мы задумались о том, чтобы сделать следующий шаг в поддержке фундаментальных исследований, которые остро необходимы для создания национального конкурентного преимущества. Результатом стал запуск Научной премии Сбера. Лауреаты в трех номинациях — «Физические науки», «Цифровая вселенная» и «Науки о жизни» будут объявлены в марте 2022 года.
                p Взаимодействуя с ведущими учеными и практиками, нельзя не понять: мир науки и корпораций сегодня меняется на глазах. Сокращается дистанция между фундаментальными научными открытиями и прикладными результатами, приводящими к новым продуктам и новой конкурентоспособности: то, что сегодня наука, завтра уже технология, а послезавтра — продукт.
                p Мир стал существенно сложнее. И в этом мире «новой сложности» место Сбера определяется его 180-летней историей, неразрывно связанной с развитием экономики России, и новыми вызовами, стоящими перед большой технологической компанией. Корпоративные разработки — залог завтрашней конкурентоспособности, а исследования — способности к выживанию. Исследователи Сбера вносят в эту работу существенный вклад.
                p В этом сборнике мы привели основную информацию об опубликованных работах исследователей Сбера, рассказали о Научной премии и результатах прогнозных исследований, а также представили ведущих научных партнеров. 
                p Верим, что новый сборник «Наука в Сбере 2021» окажется интересным и полезным чтением!
             
              p.block-quote__name Альберт Ефимов
              p.block-quote__position канд. филос. наук, Вице-президент — директор Управления<br>исследований и инноваций, Сбербанк
              p.six-screen__readmore.six-screen__readmore--ru.btn(aria-label="Читать полностью") Читать полностью 
        //- Седьмой экран
        #naychnaya_premiya.seven-screen
          .container
            h3 Научная премия <span>Сбера</span>
            .seven-screen__content
              .seven-screen__subtitle <span>2021</span> год науки и технологий   
              p В 2021 году Сбер учредил Научную премию Сбера в области науки и технологий, являющейся признанием достижений и поощрением научной смелости. Премия присуждается в трех номинациях.
              a.seven-screen__btn.btn(href="https://promo.sber.ru/sberscienceaward" target="_blank" aria-label="Читать о премии") Читать о премии
              .seven-screen__img 
                  img(src="img/silense1.png" decoding="async" loading="lazy" width="33%" alt="Физический мир" )
                  img(src="img/silense2.png" decoding="async" loading="lazy" width="33%" alt="Цифровая вселенная" )
                  img(src="img/silense3.png" decoding="async" loading="lazy" width="33%"  alt="Науки о жизни" )
        #sovmestnie_proekty_s_vuzami.eight-screen
          .container 
            h3 Совместные проекты
            .eight-screen__subtitle с вузами и исследовательскими центрами
            .row 
              .col-lg-3.col-md-12
                img.eight-screen__img(src="img/logos/miem.svg" decoding="async" loading="lazy"   width="248" height="64" alt="МИЭМ")
                p В 2021 г. лаборатория Интернета вещей и Московский институт электроники и математики (в составе Высшей школы экономики) совместно исследовали технические особенности и возможности различных протоколов беспроводной связи (как наземной, так и спутниковой) и создали экспериментальную установку для определения возможностей использования современных телекоммуникационных технологий в интересах перспективных проектов Сбера

              .col-lg-3.col-md-12
                img.eight-screen__img(src="img/logos/rqc.svg" decoding="async" loading="lazy"   width="248" height="64" alt="РКС")
                p Совместно с Российским квантовым центром Управление исследований и инноваций разрабатывает методики оценки влияния квантовых технологий на бизнес высокотехнологических и финансовых компаний. Массовое внедрение квантовых вычислений в бизнес состоится не сегодня и не завтра, но последствия могут оказаться настолько радикальными, что готовиться к «квантовой революции» следует уже сейчас.
              .col-lg-6.col-md-12
                img.eight-screen__img(src="img/logos/skolteh.svg" decoding="async" loading="lazy"   width="219" height="64" alt="Сколтех")
                p Сколтех и Сбер сотрудничают сразу по многим направлениям. Уже разработана система для аналитического восстановления неочевидных связей между клиентами банка. Результаты работы используются для уточнения модели кредитного скоринга и обнаружения мошенничества. Для серверов разработана система предсказания аномалий. Кроме того, создана модель прогнозирования нагрузки на серверы в высоконагруженный период для оптимизации стратегии наращивания серверных мощностей. Ведется работа по прогнозированию деградации со временем моделей машинного обучения по историческим данным валидации. В 2021 году дан старт проекту по разработке перспективных элементов питания — батареек для микроэлектронных устройств.
        #ii.nine-screen 
          .container 
            h3 Исследовательские центры
            .nine-screen__subtitle в сфере искусственного интеллекта
            .row 
              .col-lg-6.col-md-6
                p В начале ноября 2021 года Сбер стал индустриальным партнером трех исследовательских центров в сфере искусственного интеллекта. Вместе с ведущими университетскими командами страны до конца 2024 года планируется проведение исследований, результаты которых будут использованы в технологиях и продуктах Сбера. 
              .col-lg-6.col-md-6
                p Благодаря поддержке Сбера три ведущих университета страны смогут получить дополнительно порядка 2,7 млрд рублей субсидий от государства на развитие перспективных проектов с применением искусственного интеллекта.
            .row 
              .col-lg-4.col-md-12
                .nine-screen__card 
                 .nine-screen__card-title Сколтех
                 .nine-screen__card-content Совместно со Сколтехом проводятся анализ и компьютерное моделирование финансовых рисков и методов оценки способности российских лесов поглощать парниковые газы. Разрабатываются алгоритмы, позволяющие уменьшить углеродный след компьютерных вычислений в целях борьбы с климатическими изменениями в рамках ESG-повестки.
              .col-lg-4.col-md-12
                .nine-screen__card 
                 .nine-screen__card-title МФТИ
                 .nine-screen__card-content Работы с командой МФТИ направлены на создание более надежных антропоморфных роботов, а также программного обеспечения для беспилотных автомобилей и распознавания смысла и эмоционального окраса речи. 

              .col-lg-4.col-md-12
                .nine-screen__card 
                 .nine-screen__card-title Высшая школа экономики
                 .nine-screen__card-content Проекты с Высшей школой экономики направлены на развитие методов искусственного интеллекта, социально ориентированных сервисов и улучшение некоторых процессов Банка.
            .row.block-quote
              .col-xl-6.col-xxl-6.col-md-12.block-quote__content
                  p Тесное переплетение научных исследований и разработок с бизнес- задачами всегда приводит либо к созданию прорывных технологий, либо к решению актуальных задач. Я бы отметил несколько важных перспектив, и одна из них связана с Metaverse. Идея Metaverse в том, чтобы максимально приблизить цифровую жизнь к реальной, получить ощущение тактильности. Тут требуются усилия многих людей, но это, без сомнения, произойдет.
                  p В Сбере же наука и прикладные технологии в последние годы бурно развиваются, и я рассчитываю, что Сбер сможет значительно расширить фронт научных и прикладных исследований.
                  .block-quote__footer
                    p.block-quote__name Александр Кулешов
                    p.block-quote__position Ректор Сколковского института науки и технологий, член Наблюдательного совета Сбера 
              .col-xl-6.col-xxl-6.col-md-12.block-quote__img
                img(src="img/kuleshov.png" decoding="async" loading="lazy" width="300" height="450" alt="Александр Кулешов")
        #vzglad_v_budushee.ten-screen 
         .page-title
          .container 
            .row 
              h1 Взгляд в будущее
            .ten-screen__subtitle Управление исследований и инноваций Сбера ведет активную исследовательскую и аналитическую деятельность для оценки средне- и долгосрочных перспектив высоких технологий и технологического бизнеса. В этом сборнике мы представляем вам некоторые из наших проектов.
        #videnie.eleven-screen
          .container 
            h3 Ви́дение-2035
            .row.eleven-screen__row
              .col-lg-4.col-md-12
                p Изучать и прогнозировать будущее — амбициозная исследовательская задача. Технологические гиганты решают ее для обнаружения наиболее перспективных инвестиционных направлений, фиксации передовых тематик исследований и разработок и, конечно, для проактивного строительства предпочтительного будущего, в котором мы хотели бы жить и работать.
                p В 2021 году мы провели серию исследований, посвященных будущему: изменениям в социально-экономическом устройстве, новым продуктам,
              .col-lg-4.col-md-12
                p прорывным инновациям и технологиям. С особым вниманием мы рассмотрели те направления, которые могут привести к появлению технологических прорывов и принципиально изменить «правила игры» и распределение сил на рынке. Это станет возможным за счет оригинальных разработок, бизнес-моделей, технически и организационно недоступных сейчас, в 2021 году, но вполне реализуемых на горизонте до 2035 года.
                 
              .col-lg-4.col-md-12
                p Исследовательский отчет «Ви́дение-2035»  дает представление о том, как будет жить и чем заниматься каждый из нас, о новых образовательных, транспортных, коммуникационных и бытовых практиках. Используя разные комбинации устойчивых, уже известных тенденций (среди которых — цифровизация, роботизация, виртуализация) с только возникающими изменениями типа бесшовных виртуальных и дополненных пространств и летающих автомобилей, мы показали, что будет происходить на трех уровнях:
            .row.circles
              .eleven-screen__card-wrapper
                .eleven-screen__card 
                  .eleven-screen__card-title Макроуровень (раздел «Мир-2035»)
                  .eleven-screen__card-content Здесь можно увидеть наиболее вероятное развитие событий в отношении мироустройства и геополитики в целом, изменения роли институтов, общества, науки и технологий; приложение «Сценарии Мира-2035» даст пищу для размышлений над альтернативными путями.
              .eleven-screen__card-wrapper
                .eleven-screen__card 
                  .eleven-screen__card-title Мезоуровень (раздел «Коллекция кейсов») 
                  .eleven-screen__card-content Данный раздел погружает в более чем пятьдесят жизненных ситуаций, обнаруживает новые привычки взрослых и детей, отмечает инновационные продукты и сервисы, ставшие неотъемлемой частью нашей жизни.
              .eleven-screen__card-wrapper
                .eleven-screen__card 
                  .eleven-screen__card-title Корпоративный (раздел «Роли-2035») 
                  .eleven-screen__card-content На корпоративном уровне вы можете изучить и выбрать наиболее подходящие, близкие по духу корпоративные роли. Они аналогичны ролям «бигтехов», построивших в мире 2035 года суперклиентоориентированный сервис, экосистемы и среды взаимодействия в совершенно новой технологической парадигме.
            
              .row.eleven-screen__block 
                .col-lg-6.col-md-6 
                  h4 Научно-технологические дисрапты
                  p Обзорное исследование <b>«Научно-технологические дисрапты»</b> было разработано в контексте долгосрочного стратегирования Сбера и экосистемы. Несколько десятков ключевых технологий в перспективе создадут ту самую новую технологическую парадигму и позволят изменить большинство привычных нам отраслей и образы жизни. Мы рассказали об исследованиях «переднего края», ведущихся в семи базовых сферах (энергетика, инфраструктура, телекоммуникации, материалы, вычисления, биотехнологии, интерфейсы). Как промышленный термояд изменит расстановку сил в мировой экономике? Избавятся ли наши кабинеты и гостиные от электрических розеток? Сможет ли смартфон связываться напрямую со спутниками и поместится ли в нем суперкомпьютер? Можно ли на молекулах ДНК хранить данные? Как будет выглядеть дополненное тело человека и будут ли нужны гаджеты для выхода в виртуальную и дополненную реальность.
                  p <b>В 2022 г. мы, безусловно, будем продолжать работу по интеграции научно-технологического прогнозирования в корпоративный контекст и расширению соответствующего «поля зрения».</b>
                .col-lg-6.col-md-6 
                  img(src="img/eleven_bg.jpg" decoding="async" loading="lazy" width="750" height="500" alt="Научно-технологические дисрапты")
              #metavselennaya.row 
                .col-lg-12.col-md-12
                  h4 Метавселенная —
              .row 
                .col-lg-6.col-md-12 
                  .meta 
                   p это виртуальный мир, который выстраивается с помощью технологий на базе реального мира, обладает собственным экономическим циклом, совместимым с реальным миром, и позволяет миллионам пользователей вести бизнес, работать, учиться, общаться и развлекаться в режиме полного погружения. 
                   p <b>Мы провели анализ технологических аспектов создания метавселенной и пришли к нескольким значимым выводам, которыми хотели бы здесь поделиться. </b>
                .col-lg-6.col-md-12 
                  .meta.meta--right
                    p Анонсированная в конце июля 2021 г. Марком Цукербергом Метавселенная (она же Metaverse) стала безусловным хитом сезона в индустрии соцсетей и виртуальной реальности, и судя по всему, имеет весомые шансы стать в недалеком будущем Next Big Thing для цифровой отрасли в целом. Во всяком случае, компания Facebook уже переименована в Meta Platforms, аналитики выпускают большие обзоры, а такие разные компании, как Microsoft и NVIDIA, уже представили собственный взгляд на будущую «Матрицу».
              .row 
                .col-lg-3.col-md-12 
                  .eleven-screen__bordered
                    p Метавселенная идеально вписывается в актуальный технологический контекст. С одной стороны, переход к сверхскоростным мобильным коммуникациям нового поколения 5G/6G приводит к поиску адекватного приложения, которое обеспечит полноценную загрузку сетей со скоростью уже не в мегабиты и даже не в гигабиты, а в терабиты в секунду. Метавселенная идеально подходит на эту роль. 
                .col-lg-3.col-md-12
                  .eleven-screen__bordered 
                    p С другой стороны, в основу создаваемого нового мира лягут экспоненциальный рост вычислительных мощностей, миниатюризация электроники, новые возможности искусственного интеллекта, графических ускорителей для 3D-рендеринга, мио и нейрокомпьютерные интерфейсы и технологии блокчейн. 
                .col-lg-3.col-md-12 
                  .eleven-screen__bordered
                    p Постепенно станет возможным радикальное снижение стоимости построения Метавселенной, в том числе за счет контента, генерируемого искусственным интеллектом. Метавселенная откроет возможности для нового бизнеса, связанного с созданием онлайнового контента, и соответственно — для переноса «демонстративного гиперпотребления» в виртуальные миры.
                .col-lg-3.col-md-12
                  .eleven-screen__bordered
                    p При этом Метавселенная не является простым инфраструктурным комплексом, который можно «спроектировать», «заказать» и «развернуть». Практическая реализация той или иной концепции полноценного метаверса потребует значительного объема R&D в области многопользовательских платформ, защищенных каналов связи, виртуальной реальности, потребительских интерфейсов и сенсоров.
        .twelve-screen
          .container
            .row
              .col-lg-6.col-md-12 
                p Мы полагаем, что практические работы по созданию Метавселенной — или нескольких «метагалактик» — начнутся, когда корпорации и правительства сформулируют ответы на несколько ключевых вопросов:
            .row
              .col-lg-3.col-md-6
                .twelve-screen__card
                  p Будет развиваться единая Метавселенная на основе открытого многостороннего соглашения или разделенные корпоративные «галактики», соединяемые порталами (по модели, например, Omniverse от NVIDIA)?
              .col-lg-3.col-md-6
                .twelve-screen__card
                  p Будет создан консорциум по стандартизации типа W3C, или интеграция отдельных «галактик» в Метавселенную будет достигнута через «борьбу стандартов» (например, альянс Microsoft Teams-Meta Facebook vs. NVIDIA Omniverse…)?
              .col-lg-3.col-md-6
                .twelve-screen__card
                  p Какова роль государства в ходе потенциального перевода активностей людей в Метавселенную, и как эта роль будет обеспечиваться на практике?
              .col-lg-3.col-md-6
                .twelve-screen__card
                  p При каком уровне правдоподобия виртуальной реальности корпорации запустят открытый для присоединения пользователей проект Метавселенной 1.0 (уже сейчас, после массового внедрения AR-очков или по готовности интерфейсов с еще бо́льшим погружением)? 
            .row 
              .col-lg-6.col-md-12 
                p Мы продолжим изучать концепцию будущей Метавселенной и роли российских игроков в возникающем на глазах виртуально-реальном мире.
        #sber-kosmos-sber.thirteen-screen 
          .container
            .row
              .col-lg-6.col-md-6 
                h4 Сбер-Космос-Сбер 
            .row 
             .col-lg-6.col-md-12 
              p Исследователи Сбера предложили метрики оценки перспективных космических проектов и технологических инноваций. Наши метрики базируются на следующих критериях: 
            .row.thirteen-screen__list
              .col-lg-3.col-md-12
                .thirteen-screen__card
                  p Возможность применения в текущем бизнесе, оценка влияния тех или иных каналов космической связи или геоинформационных данных на эффективность решения текущих и перспективных задач
              .col-lg-3.col-md-12
                .thirteen-screen__card
                  p Создание новых бизнесов экосистемы Сбера на базе космических решений
              .col-lg-3.col-md-12
                .thirteen-screen__card
                  p Влияние на экономику и развитие России 
              .col-lg-3.col-md-12
                .thirteen-screen__card
                  p Инвестиционная привлекательность новых проектов и идей
            .row 
              .col-lg-6.col-md-6 
                p Данная модель позволяет построить эффективную систему оценки проектов и потенциальных партнерств.
                p В 2021 году мы запустили работу по развитию распределенного центра компетенций, ориентированного на анализ возможностей и форматов использования космических технологий для решения прикладных бизнес-задач. Состоявшаяся весной 2021 г. встреча руководства Сбера с руководством Роскосмоса подтвердила наличие потенциала реализации совместных проектов в космической области.
              .col-lg-6.col-md-6.thirteen-screen__btn
                a.btn(href="https://sberbank.ru/common/img/uploaded/news/2021/sber-cosmos-otchet.pdf" aria-label="Отчёт о конференции") Отчёт о конференции
        #kvant.fourteen-screen 
          .container
            .row
              .col-lg-6.col-md-12 
                h4 Квантовая перспектива
            .row 
              .col-lg-2.col-md-2
                img.fourteen-screen__img(src="img/logos/rqc.svg" decoding="async" loading="lazy"   width="203" height="64" alt="РКС") 
              .col-lg-5.col-md-5 
                p В 2021 г. мы запустили совместный исследовательский проект с Российским квантовым центром, направленный на развитие методологии оценки «квантового влияния» на бизнес, его устойчивость и конкурентоспособность. На сегодняшний день квантовые компьютеры являются единственной известной технологией, которая в состоянии обеспечить в перспективе экспоненциальное ускорение вычислений по сравнению с современными классическими суперкомпьютерами. Квантовые шифрование и коммуникации, в свою очередь, позволяют сделать процессы хранения и обмена данными практически неуязвимыми ко взлому. Сейчас квантовые компьютеры и информатика находятся на ранней стадии развития, и переход к новой 
              .col-lg-5.col-md-5
                p парадигме вычислений не произойдет в одночасье: на это потребуются годы, а по отдельным направлениям — и десятилетия. При этом не стоит ожидать полного замещения традиционных компьютеров квантовыми — последние будут применяться для определенного круга вычислительных задач, однако в пределах этого круга трансформация будет кардинальной.
                p В следующем году мы планируем завершить разработку методологии определения влияния квантовых технологий на бизнес больших диверсифицированных компаний.
                a.btn(href=" https://files.sberdisk.ru/s/7nExdAnezstgB4b/download" aria-label="Квантовый семинар") Квантовый семинар

        #pobedy_v_konkursah.fifteen-screen 
          .container
            .row 
              .col-lg-12.col-md-12
                h3 Победы в конкурсах
            .row 
              .col-lg-6.col-md-12
                p В конце 2021 г. команды Сбера победили в двух международных конкурсах, прошедших на полях крупнейшей в мире конференции по нейровычислениям и машинному обучению NeurIPS.
                .fifteen-screen__list
                  .fifteen-screen__card 
                    p Команда Центра робототехники (Александр Гамаюнов, Алексей Постников) заняла первое место в конкурсе Shifts Challenge для специалистов в сфере машинного обучения в номинации «Предсказание движения транспортных средств» (Vehicle Motion Prediction).
                    a(href="https://research.yandex.com/shifts/vehicle-motion-prediction" aria-label="Узнать больше") Узнать больше
                  .fifteen-screen__card
                    p Объединенная команда Сбера и Института искусственного интеллекта AIRI (Дмитрий Бабаев, Дмитрий Соркин, Иван Назаров, Никита Овсов) победила в номинации для нейросетей соревнования NetHack Challenge.
                    a(href="https://www.aicrowd.com/challenges/neurips-2021-the-nethack-challenge/leaderboards?challenge_leaderboard_extra_id=971&challenge_round_id=911" aria-label="Узнать больше") Узнать больше
              .col-lg-6.col-md-6.fifteen-screen__img
                img(src="img/fifteen_bg.jpg" decoding="async" loading="lazy" width="750" height="500" alt="Победы в конкурсах")

        #publications.sixteen-screen 
          .page-title
            .container 
              .row 
                h1 Научные публикации <span>2021 года</span>
          .container 
            .row 
              .col-lg-6.col-md-6
                p Работы 2021 г. отражают основные научные достижения исследовательского комплекса Сбера. Трудно выделить самые интересные статьи, но необходимо отметить, что исследователи Сбера участвуют и публикуются в сборниках работ самых высокоцитируемых мировых конференций по искусственному интеллекту и робототехнике. Статьи и доклады ведущих ученых SberDevices посвящены различным проблемам компьютерной лингвистики и особенностям работы над ставшими популярными в прошедшем году бенчмарком Russian SuperGLUE 1.1 и языковой моделью ruGPT-3 XL.  
                p Целый ряд совместных работ исследователей SberDevices и лаборатории по искусственному интеллекту описывает наш вклад в борьбу с эпидемией COVID19 и проблемы применения ИИ по другим медицинским направлениям, включая анализ эффективности лекарственных препаратов и результатов различных приборных исследований. Публикации по исследованиям в области человеко-машинных интерфейсов призваны в перспективе помочь людям с ограниченными возможностями здоровья и внести вклад в создание нейроинтерфейсов будущего. Наша работа помогает создавать устройства следующего поколения, которые будут отличаться большой надежностью распознавания электрических сигналов головного мозга.  
              .col-lg-6.col-md-6
                .sixteen-screen__card 
                  span 7
                  p ведущих конференций уровня А/А* по версии CORE, где были приняты доклады исследователей Сбера 
                ul.sixteen-screen__list 
                  li Knowledge Discovery and Data Mining Virtual Conference 2021
                  li European Association of Computational Linguistics (EACL)
                  li 15th ACM Conference on Recommender Systems
                  li 2021 IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS 2021) 
                  li IEEE/CVF International Conference on Computer Vision (ICCV) 
                  li 2021 Conference on Empirical Methods in Natural Language Processing (EMNLP)
                  li 35th Conference on Neural Information Processing Systems (NeurIPS)
            .row 
              .col-lg-12.col-md-12 
                a.btn.sixteen-screen__btn(href="publications.html" aria-label="Перейти к публикациям") Перейти к публикациям
            .row 
              .col-lg-3.col-md-12 
                .sixteen-screen__bordered
                  p Центр робототехники описывает в своих работах новые методы применения искусственного интеллекта в компьютерном зрении для роботов для внутренних и наружных работ, а Управление развития перспективных технологий AI (Sber AI) представило новые методы проектирования и направления применения нейронных сетей, а также новые подходы к распознаванию рукописного текста 
              .col-lg-3.col-md-12 
                .sixteen-screen__bordered
                  p и изображений Земли из космоса. Научные работы исследователей Сбера не только подводят итоги работы за год, но и закладывают фундамент для будущего прикладного применения полученных результатов как в бизнесе, так и в социально значимых областях, прежде всего — в здравоохранении и в области гуманитарных исследований. В сборник включены наиболее важные научные публикации, многие из которых подготовлены сотрудниками Сбера
              .col-lg-3.col-md-12 
                .sixteen-screen__bordered
                  p в соавторстве с партнерами по исследовательской работе из ведущих российских вузов и научных центров. Значимая доля представленных работ опубликована или принята к публикации в журналах высшей категории Q1 или доложена на конференциях уровня A/А*, а остальные нашли своего читателя в отечественных или узкоспециальных изданиях. В этом разделе содержатся библиографические данные и краткие аннотации 
              .col-lg-3.col-md-12 
                .sixteen-screen__bordered
                  p опубликованных в 2021 году статей и докладов, а также фотографии исследователей Сбера, принявших участие в их подготовке. В завершающем разделе «Работа продолжается» собраны данные о статьях и докладах, которые будут опубликованы в первые месяцы 2022 года — с тем, чтобы дать читателю представление об актуальных направлениях работы исследователей Сбера.
        #rabota_prodoljaetsya.seventeen-screen
          .container
            .row
              .col-lg-8.col-md-10
                h4 Работа продолжается
            .row
              .col-lg-6.col-md-6
                .seventeen-screen__card 
                  p В 2021 г. исследователями Сбера подготовлены и представлены статьи и доклады для ведущих научных журналов и конференций мира. Их краткий обзор дает представление о наиболее актуальных направлениях работы наших коллективов.
            .row
              .col-lg-10.col-md-12
                ul 
                  li <b>Additive Regularization Scheduler for Neural Architecture Research</b> / Mark Potanin, Kirill Vayser, Vadim Strijov (на момент подготовки сборника статья направлена в журнал)
                  li <b>Blending of Predictions Boosts Multimodal Ads Understanding</b> / Anton Alekseev, Andrey Savchenko, Sejeong Kwon, Elena Tutubalina, Evgeniy Miasnikov, Andrei Kuznecov, Ilya Shenbin, Sergey Nikolenko // (на момент подготовки сборника статья направлена в журнал)
                  li <b>Brain Commands Recognition with Semantic Load Maximization with Graph Algorithm</b> /Aleksandr Mazurin, Aleksey Galatenko, Alexandra Bernadotte // Journal of Computer Science.ISSN: 1552-6607 (на момент подготовки сборника статья проходила рецензирование)
                  li <b>Comparison of Modern Open-source Visual SLAM Аpproaches / Dinar Sharafutdinov, Mark Griguletskii, Pavel Kopanev, Mikhail Kurenkov, Gonzalo Ferrer, Aleksey Burkov, Aleksei Gonnochenko, Dzmitry Tsetserukou</b> // [сайт] [2021] URL: https://arxiv.org/abs/2108.01654
                  li <b>Continuous Learning of Humanoid Robots: Object Detection Using External Random Memory</b> / Ivan Nenakhov, Ruslan Mazhitov, Kirill Artemov, Seyed Hassan Zabihifar, Aleksandr Semochkin, Sergey Kolyubin // IEEE Xplore (на момент подготовки сборника статья проходила рецензирование)
                  li <b>COVID-19 Connected EEG-Patterns / Aleksandr Zubov, Marina Isaeva, Ivan Menshikov, Alexandra Bernadotte </b>// Neuroscience International, Special Issue on Neuroinflammation and COVID-19. ISSN: 2524-2245 (на момент подготовки сборника статья проходила рецензирование)
                  li <b>Cross-Domain Limitations of Neural Models on Biomedical Relation Classification</b> / Ilseyar Alimova, Elena Tutubalina, Sergey Nikolenko // (на момент подготовки сборника статья направлена в журнал)
                  li <b>DetIE: Multilingual Open Information Extraction Inspired by Object Detection </b>/ MichaelVasilkovsky, Anton Alekseev, Valentin Malykh, Ilya Shenbin, Elena Tutubalina, Dmirtiy Salikhov, Mikhail Stepanov, Andrey Chertok, Sergey Nikolenko // (на момент подготовки сборника статья направлена в журнал)
                  li <b>DNN-Based Indoor Metric-Semantic Mapping for Autonomous Robots </b>/ Amiran Berkaev, Malik Mohrat, Alexey Burkov, Sergey Kolyubin // IEEE International Conference on Robotics and Automation 2022 (на момент подготовки сборника статья проходила рецензирование)
                  li <b>Empowering BT5.1 Location Capabilities: from Theory to Practice</b> / Irina Bessonova, Ekaterina Naumova, Ali Ajad, Aleksandr Novikov, Svyatoslav Yakimenko, Evgeniy Kucheryaviy, Andrey Tsislav, Yuriy Litvak // (на момент подготовки сборника статья направлена в журнал)
                  li <b>Fast and Memory-Efficient Planning in C-space: Modified Bi-directional RRT* Algorithm for Humanoid Robots</b> / Ilya Dovgopolik, Kirill Artemov, Seyed Hassan Zabihifar, Aleksandr Semochkin, Sergey Kolyubin // IEEE Xplore (на момент подготовки сборника статья проходила рецензирование)
                  li <b>Feasibility Study of LEO for Support of Advanced 5G-Grade Services </b>/ Vladimir Bychkov, Evgeniy Kucheryaviy, Natalia Seltsova, Andrey Tsislav // (на момент подготовки сборника статья направлена в журнал)
                  li <b>Fulfilling ESG Expectations for AI/ML Aided NB-IoT Services</b> / Ksenia Lyakhova, Ksenia Glinkina, Svyatoslav Yakimenko, Evgeniy Kucheryaviy, Natalia Seltsova, Andrey Tsislav, Yuriy Litvak // (на момент подготовки сборника статья направлена в журнал)
                  li <b>Medical Crossing: A Cross-lingual Evaluation of Clinical Entity Linking</b> / Anton Alekseev, Zulfat Miftahutdinov, Elena Tutubalina, Artem Shelmanov, Vladimir Ivanov, Vladimir Kokh, Alexander Nesterov, Manvel Avetisyan, Andery Chertok, Sergey Nikolenko // (на момент подготовки сборника статья направлена в журнал)
                  li <b>Multimodal Model with Text and Drug Embeddings for Adverse Drug Reaction Classification</b> / Andery Sakhovskiy, Elena Tutubalina // (на момент подготовки сборника статья направлена в журнал)
                  li <b>The Multivariate Inhomogeneity Detection with Scan Statistics Based on the KullbackLeibler Divergence Estimates</b> / Denis Dimitrov // (на момент подготовки сборника статьянаправлена в журнал)
                  li <b>The Three Cultures and Scientific Diversity</b> / Ivan Menshikov, Aleksandr Zubov, Marina Isaeva, Alexandra Bernadotte // Neuron. ISSN 1097-4199 (на момент подготовки сборника статья проходила рецензирование)
                  li <b>Towards Robust and Accurate SLAM for Wheeled Robots in Dynamic </b>/ Long Vuong Ha, Jaafar Mahmoud, Aleksey Burkov, Sergey Kolyubin // IEEE International Conference on Robotics and Automation 2022 (на момент подготовки сборника статья проходила рецензирование)
                  li <b>XtremeAugment: Getting the Most from Your Data by Combining Image Collection with Image Augmentation</b> / Sergey Nesteruk, Svetlana Illarionova, Timur Akhtyamov, Dmiry Shadrin, Maria Pukalchik, Andery Somov // IEEE Access (на момент подготовки сборника статья проходила рецензирование)
                  li <b>Надежный источник времени в распределенных системах на примере Hyperledger Fabric</b> / А.И. Филиппов, В. А. Попов, О.В. Абдрашитов, А. Баргер // (на момент подготовки сборника статья направлена в журнал)
                  li <b>Is There the Brain New World? </b>/ Alexandra Bernadotte // Science Robotics. ISSN 2470-9476 (на момент подготовки сборника материал принят к публикации) 
        #dnk.eighteen-screen
          .container
            .row  
              .col-lg-12.col-md-12 
                a.eighteen-screen__link(href=" https://developers.sber.ru/kak-v-sbere/engineer-dna" aria-label="ДНК ИНЖЕНЕРА") #каквсбере
                h3 ДНК инженера
              .offset-lg-1.md-offset-1.col-lg-6.col-md-6
                p Научные и технические достижения Сбера становятся возможными благодаря творческой, самоотверженной работе нашей команды. Исследователи и инженеры Сбера не только обладают обширными знаниями в своей области, но и непрерывно их расширяют. Для нас любопытство, любознательность и пытливость — это квинтэссенция того, что значит быть инженером. Я рад представить читателям «ДНК инженера Сбера» — своего рода генетический код, который определяет нашу культуру. 
                a.btn.eighteen-screen__btn(href=" https://developers.sber.ru/kak-v-sbere/engineer-dna" aria-label="ДНК ИНЖЕНЕРА") Перейти на сайт
            img(src="img/dnk.png" decoding="async" loading="lazy" width="400" height="772" alt="ДНК Инженера")
      .page__footer-wrapper
        +page-footer()
    +to-top()    
      block content
          span
    block page-bottom
      script(src='js/bundle.js')
