// В этом файле должны быть стили для БЭМ-блока card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  padding: 0 15px;
  margin-bottom: 150px;
  @media(max-width:600px){
    padding:0;
    margin-bottom:30px;
  }

  &__row {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    @media(max-width:900px){
      align-items: flex-start;
    }
    @media(max-width:600px){
      flex-direction: column-reverse;
    }
  }
  & .btn {
    @media(max-width:600px){
      display:block;
    }
  }
  
  &__img-wrap {
    @include col(md, 4, $grid-columns, 8px);
    & img {
     padding:20px 45px;
     @media(max-width:1024px){
       padding: 0;
     }
    }
  }
  &__content {
    @include col(md, 8, $grid-columns, 30px);
    max-width:100%;
    
  }

  &__img {
    display: block;

  }

  &__title {
    margin: 0 0 20px;
  }
  &__laboratory {
    margin: 0 0 20px;
    color: #c4c4c4;
  }
  &__descr {
    color:#2D3032;
    margin-bottom:25px;
  }
  &__anons {
    color: #6B6B6B;
    margin-bottom:35px;
  }
  & .authors {
    margin-top: 40px;
    width: 100%;
    max-width:100%;
    overflow: hidden;
    z-index: 5;
    margin-left: -20px;
    @media(max-width:600px){
      margin-left:0;
    }

    &__wrap {
      position: absolute;
      left: 0;

      padding: 0;
      margin-left: -15px;
      overflow: hidden;
      white-space: nowrap;
      transform: translate3d(0, 0, 0);
      transition: all 0.3s ease-out;
      position:relative;
   
      @media(max-width:769px){
        margin-left:0;
        overflow-x: scroll;
        max-width:100%;
      }
  
      &--scroll {
        cursor: url("data:image/svg+xml;charset=utf8,%3Csvg width='38' height='28' viewBox='0 0 68 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48.6666 12.0833C52.4379 12.0833 54.3235 12.0833 55.4951 13.2549C56.6667 14.4265 56.6667 16.3121 56.6667 20.0833V37.9166C56.6667 41.6879 56.6667 43.5735 55.4951 44.7451C54.3235 45.9166 52.4379 45.9166 48.6667 45.9166H20.5C14.8431 45.9166 12.0147 45.9166 10.2574 44.1593C8.49999 42.4019 8.49999 39.5735 8.49999 33.9167V24.0833C8.49999 18.4265 8.49999 15.598 10.2574 13.8407C12.0147 12.0833 14.8431 12.0833 20.5 12.0833L48.6666 12.0833Z' stroke='%23353E46' stroke-width='2' stroke-linejoin='round'/%3E%3Cpath d='M50.6667 29H36.5' stroke='%23353E46' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 16 16, pointer;
        overflow-x: scroll;
      }
      &::-webkit-scrollbar {
        width: 5px;
        height: 8px;
        background-color: #f2f4f5;
        /* or add it to the track */

      }
  
      /* Add a thumb */
      &::-webkit-scrollbar-thumb {
        background: linear-gradient(62.31deg, rgba(66, 226, 180, 0.87) 17.21%, #9FF175 82.79%);
        border-radius: 100px;
      }
    }
    &__card {
      position: relative;
      display: inline-block;
      padding: 0 10px 0 20px;
      width: 25%;
      @media(max-width:768px){
        width:auto;
        min-width:150px;
        padding:0;
      }
    }
    & .author__img {
      position:relative;
      height:134px;
      display:flex;
      align-items: center;
      padding-left: 15px;
        & img {
        position:relative;
        z-index: 5;
        border-radius: 100px;
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    
    } 
    & .author__gradient {
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      width:  100%;
      height: 100%;
      background-image: url('../img/autor_bg.jpg');
      background-position: center left -15px;
      background-repeat:no-repeat;
    }
    & .author__name {
      margin-bottom:12px;
    }
    & .author__content {
    display: flex;
    padding-left: 15px;
     }
  }
}
