extends ../pug/layout-eng.pug

block meta
  title Science at Sber
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')



block content
  span 

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
