extends ../pug/layout-publications-eng.pug

block meta
  title Academic Publications
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')


block content
  span
  
//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
