extends ../pug/layout-publications.pug

block meta
  title Научные публикации
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')


block content
  
//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
